.mobile{
  display: none;
}
.checkbox{
  display: none;
}
.nav{
  height: 24px;
  margin-top: 19px;
  margin-bottom: 160px;
}
.nav .adsf{
  float: right;
}
.nav .mo,.nav .login,.nav .btn{
  float: left;
}
.mo .item,.login .loginlink,.login .set,.nav .btn{
  float: left;
  line-height: 24px;
  font-size: 13px;
  margin-left: 20px;
}
a{
  color: #333;
}
.mo .item{
  font-weight: 700;
}
.btn{
  margin-right: 20px;
  background: #38f;
  color: #fff;
  width: 60px;
  text-align: center;
  line-height: 24px;
}
.con{
  width: 60%;
  margin-top: 160px;
  margin: 0 auto;
}

.logo{
  width: 270px;
  margin: 0 auto;
}
.logo img{
  width: 100%;
}
.main .form{
  width: 60%;
  margin: 0 auto;
}
.main .input{
  border: 1px solid #eee;
  float: left;
  width: 79%;
  height: 34px;
}
.main .input input{
  border: none;
  background: none;
  outline: none;
  width: 90%;
  height: 22px;
  font-size: 16px;
  line-height: 34px;
}
.from button{
  width: 20%;
  border: 0;
  float: left;
  height: 36px;
  background: #38f;
  color: #fff;
}
.icon-xiangji{
  font-size: 22px;
  line-height: 34px;
}
