.mobile{
  display: block;
}

.nav{
  display: none;
}
.desktop{
  display: none;
}

.navbtn,.list{
  margin: 20px;
  float: left;
}
.list{
  float: right;
}
.main{
  margin-top: 50px;
}
.mn::after,.main::after{
  content: "";
  display: block;
  clear: both;
}
.logo{
  width: 180px;
  margin: 0 auto;
  margin-bottom: 10px;

}
.main{
  width: 90%;
}
.main .input{
  width: 75%;
}
.main .input input{
  width: 80%;
  float: left;
}
.icon-xiangji1,.icon-maikefeng{
  display: inline;
  line-height: 34px;
}
.from button{
  font-size: 16px;
  background: #fff;
  border: 1px solid #eee;
  color: #38f;
  width: 24%;
}
.lo{
  width: 90%;
  margin:10px auto;
}
.lo::after{
  content: "";
  display: block;
  clear: both;
}
.lo .icon-cha{
  float: right;
}
#toggle:checked~.lo{
  display: none;
}
#cb:checked~.nav{
  display: block;
}
.nav{
  margin-top: 10px;

}
.nav .adsf{
  float: none;
  margin-bottom: 100px;
}
.nav .mo,.nav .login,.nav .btn{
  float: none;
  display: block;
}
.mo .item,.login .loginlink,.login .set{
  display: block;
  float: none;
  margin: 0 auto;
}
.mo .item a,.login .loginlink a,.login .set a,.nav .btn{
  display: block;
  float: none;
  line-height: 24px;
  font-size: 13px;
  margin:5px auto;

}
